[[d1_databases]]
binding = "DB" # available in your Pages Function on env.DB
database_name = "<DATABASE_NAME>"
database_id = "<DATABASE_ID>"
preview_database_id = "<DATABASE_ID>" # Required for Pages local development
